{% extends "generic.html" %}
{% block main %}
<header>
	<h2>Buy</h2>
	<p>Obtain a lifetime license to unlock all features of Touchmapper</p>
</header>
<div class="box">
<p>
Touchmapper Alpha may be downloaded and evaluated for free, however a license will be needed for unlocking the Share, Wiki, Script and Nodes coloring.
Licenses are per-user, rather than per-machine, so you can enjoy Touchmapper on as many computers and operating systems as you wish with your license.
</p>

<div class="row uniform half">
	<h3>Total: $150.0 USD </h3>
</div>
<div class="row uniform half">

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">

	<div class="row uniform half collapse-at-2">
		<div class="6u">
		<input type="hidden" name="on1" value="License Name"><input type="text" name="os1" maxlength="200" placeholder="Name">

		</div>
		<div class="6u">
		<input type="hidden" name="on0" value="License Email"><input type="text" name="os0" maxlength="200" placeholder="Email">

		</div>
	</div>

	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="JG3H3FUDNM55J">
	<br>
	<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

	<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">

</form>


</div>
</div>

<script type="text/javascript">

$( document ).ready ( function() {
	$( 'input#email' ).change ( function() {
	  //get txtAmt value  
	  var txtEmail = $( 'input#email' ).val ();

	  //change txtInterest% value
	  $( '#ppEmail' ).val ( txtEmail );
	});

	$( 'input#name' ).change ( function() {
	  //get txtAmt value  
	  var txtName = $( 'input#name' ).val ();

	  //change txtInterest% value
	  $( '#ppName' ).val ( txtName );
	});

} );

</script>

{% endblock main %}
