{% extends 'generic.html' %}
{% block banner %}
			<section id="banner">
				<h2>Touchmapper Alpha</h2>
				<p>Ultimate Touch-enabled Mindmapping Software</p>
				<ul class="actions">
					<li><a href="#" class="button special">Sign Up</a></li>
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</section>
{% endblock banner %}

{% block main %}
	<section class="box special">
		<header class="major">
			<h2>Introducing the ultimate touch-enabled mindmapping application.
			</h2>
			<p>Create, share, brainstorm, and get extensive knowledge from wiki, all from your Touch devices.</p>
		</header>
		<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
	</section>
			
	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon major fa-bolt accent2"></span>
				<h3>Instant Mind Mapping with Touch</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-area-chart accent3"></span>
				<h3>Share with peers</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
		</div>
		<div class="features-row">
			<section>
				<span class="icon major fa-cloud accent4"></span>
				<h3>Query wikipedia as Maps</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-lock accent5"></span>
				<h3>Coloring of Nodes</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
			</section>
		</div>
	</section>
		
	<div class="row">
		<div class="6u">

			<section class="box special">
				<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
				<h3>Sed lorem adipiscing</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
				<ul class="actions">
					<li><a href="#" class="button alt">Learn More</a></li>
				</ul>
			</section>
			
		</div>
		<div class="6u">

			<section class="box special">
				<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
				<h3>Accumsan integer</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
				<ul class="actions">
					<li><a href="#" class="button alt">Learn More</a></li>
				</ul>
			</section>

		</div>
	</div>
{% endblock main %}